webservices-client/src/main/resources/wsdl/responsibility.v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
					xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
					xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
					xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
					name="ResponsibilityWS" 
					xmlns="http://training.victor/ws/responsibility/v1" 
					targetNamespace="http://training.victor/ws/responsibility/v1"
					xmlns:responsibility="http://training.victor/ws/responsibility/domain/xmlbean/v1"
					xmlns:msg="http://training.victor/ws/responsibility/v1/messages">
	
	<wsdl:documentation>
		The Security WebService interface of the responsibility2 application. 
		Through this interface, the responsibility application offers security services to other applications.	
		For detailed explanations of each operation, see the responsibility ITF TSD.
    </wsdl:documentation>
	
	<!-- Types for this WSDL -->
	<wsdl:types>
		<xsd:schema targetNamespace="http://training.victor/ws/responsibility/v1/messages" >
			<!-- Data structures used by this interface. -->
			<xsd:import schemaLocation="responsibility.v1.xsd" namespace="http://training.victor/ws/responsibility/domain/xmlbean/v1"  />

			<xsd:element name="getUserResponsibilityRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="domainBID" type="xsd:string" nillable="false" />
						<xsd:element name="userBID" type="xsd:string" nillable="false" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getUserResponsibilityResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="responsibility" type="responsibility:Responsibility" nillable="false" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="getUserResponsibilityRequest">
		<wsdl:part name="parameters" element="msg:getUserResponsibilityRequest" />
	</wsdl:message>
	<wsdl:message name="getUserResponsibilityResponse">
		<wsdl:part name="parameters" element="msg:getUserResponsibilityResponse" />
	</wsdl:message>


	<!-- The default JAXWS generated Java SEI will have this name. -->
	<wsdl:portType name="ResponsibilitySEI">
		<wsdl:operation name="getUserResponsibility" >
			<wsdl:input  message="getUserResponsibilityRequest" />
			<wsdl:output message="getUserResponsibilityResponse" />
		</wsdl:operation>
    </wsdl:portType>

	<!-- Style: DOCUMENT/LITERAL -->
	<wsdl:binding name="ResponsibilitySoapBinding" type="ResponsibilitySEI">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getUserResponsibility">
			<soap:operation soapAction="http://training.victor/responsibility/GetUserResponsibility" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ResponsibilityWS_v1">
		<wsdl:port name="SoapPort" binding="ResponsibilitySoapBinding">
			<!-- The soap:address location will be re-generated by the axis2 engine at deploy time -->
			<soap:address location="--not-used--" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
